/* Font */
h1 {
    color: #CD5C5C;
    font-family: Georgia;
    text-align: center;
}
h2 {
    color: #CD5C5C;
    font-family: Georgia;
    text-align: center;
}
p {
    color: rgba(77, 16, 16, 0.591);
    font-family: Georgia;
    text-align: center;
}
/* user interface */
button {
    background-color:#D8BFD8;
    font-size: 24px;
    color: #FFFFFF;
    padding: 5px 15px;
    border: #E6E6FA;
    border-radius: 13px;
    font-family: Georgia;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;  
}
/* button hover UI */
button:hover{
    transform: scale(1.075);
    background-color: #99b170;

}
/* web page link */
a{
    text-decoration: none;
    color: inherit;
    font-family: Georgia;
}